  </div>
  <footer class="page-footer font-small secondary pt-4">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-lg-6 mt-lg-0 mt-3">
          <h5 class="text-uppercase font-weight-bold pb-3">
            Liens utiles
          </h5>
          <p class="list-unstyled d-flex justify-content-center justify-content-md-start">
            <a href="https://www.univ-larochelle.fr/" target="_blank"><img class="footer-links rounded mr-3" src="/img/logo-universite-la-rochelle.png" alt="Logo de l'université de La Rochelle"></a>
            <a href="https://www.iut-larochelle.fr/" target="_blank"><img class="footer-links rounded mr-3" src="/img/logo-iut-la-rochelle.png" alt="Logo de l'université de La Rochelle"></a>
            <a href="https://www.iut-rt.net/" target="_blank"><img class="footer-links rounded mr-3" src="/img/logo-iut-reseaux-telecoms.png" alt="Logo de l'université de La Rochelle"></a>
          </p>
        </div>
        <div class="col-lg-6 mt-lg-0 mt-3">
          <h5 class="text-uppercase font-weight-bold pb-3">
            Présentation du projet
          </h5>
          <p>
            Site web réalisé par <strong>Philippe Lopes</strong> dans le cas d'un projet de fin d'année
            de DUT <strong>Réseaux et Télécommunications</strong> à l'IUT de La Rochelle.
          </p>
          <p>
            Code source disponible sur <strong><a href="http://www.github.com/out3/projet_soutenance" target="_blank">GitHub</a></strong>.
          </p>
          <p>
            © Photos : Jean-François Augé
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/js/mdb.min.js"></script>
  <!-- Data Tables -->
  <script type="text/javascript" src="/js/datatables.min.js"></script>
  <!-- Custom Scripts -->
  <script type="text/javascript" src="/js/formValidator.js"></script>
  <script type="text/javascript" src="/js/scripts.js"></script>
</body>
</html>