<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Gestionnaire de stage</title>
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/31be9b0db8.js" crossorigin="anonymous"></script>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" rel="stylesheet"></script>
  <!-- Custom CSS -->
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">
      <!-- Brand -->
      <a class="navbar-brand" href="/">
        <strong class="nav-title">Gestionnaire de candidatures</strong>
      </a>
      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <% if(currentUser) {%>
            <li class="nav-item">
              <a class="nav-link" href="/applications">Mes Candidatures</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/companies">Mes entreprises</a>
            </li>
            <% } %>
          </ul>
        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <% if(!currentUser) { %>
            <li class="nav-item">
              <a href="/login" class="nav-link">
                <i class="fas fa-user"></i> Se connecter
              </a>
            </li>
            <li class="nav-item">
              <a href="/register" class="nav-link">
                <i class="fas fa-user-plus"></i> S'inscrire
              </a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-user-cog"></i> Mon compte
              </a>
            </li>
            <li class="nav-item">
              <a href="/logout" class="nav-link">
                <i class="fas fa-user-times"></i> Se déconnecter
              </a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
  <!-- /Navbar -->

  <!-- Alerts everywhere but in homepage -->
  <%if (typeof noAlert === 'undefined'){ %>
    <div class="container">
      <% if(error && error.length > 0) { %>
        <div class="alert alert-danger" role="alert">
          <%=error%>
        </div>
      <% }; %>
      <% if(success && success.length > 0) { %>
        <div class="alert alert-success" role="alert">
          <%=success%>
        </div>
      <% }; %>
    </div>
  <% }; %>
  <!-- /Alerts -->