/* General */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(240, 240, 240) !important;
}

/* Companies Page */
.links-icons a {
    color: #343a40;
}

.links-icons a:hover {
    color: #0e76a8;
}
