/* General */
body {
  background: fixed radial-gradient( circle farthest-corner at 50.3% 44.5%,  rgba(116,147,179,1) 0%, rgba(62,83,104,1) 100.2% );    /* background: fixed linear-gradient(15deg, #13547a 0%, #80d0c7 100%); */
  padding-top: 90px;
}
/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html, body, .view {
  height: 100%;
}

/* Full Page Carousel itself*/
.carousel {
  height: 100%;
}
.carousel .carousel-inner {
  height: 100%;
}
.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
  height: 100%;
}


/* Navbar animation */
.navbar .navbar-brand .nav-title {
  font-size:1.2rem;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.2);
}

.top-nav-collapse {
  background-color: #1c2331;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1c2331;
  }
}

/* Applications index sidebar */
.overflow-visible {
  overflow: visible;
}

#applications-sidebar {
  position: sticky;
  position: -webkit-sticky;
  top:90px;
}

/* Table overview admin */
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}

/* FOOTER */
#non-footer{
  min-height: 100vh
}

footer{
  background-color: #1c2331;
}

.footer-links{
  height: 65px;
  -webkit-filter: grayscale(90%); /* Safari 6.0 - 9.0 */
  filter: grayscale(90%);
}

.footer-links:hover{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: 0.3s;
}