<form action="/companies" method="post">
    <input type="text" name="company[name]" placeholder="Nom de l'entreprise">
    <input type="text" name="company[address]" placeholder="Adresse">
    <input type="number" name="company[postalCode]" placeholder="Code postal">
    <input type="text" name="company[city]" placeholder="Ville">
    <input type="number" name="company[phoneNumber]" placeholder="Numéro de téléphone">
    <input type="text" name="company[links[website]]" placeholder="Site web">
    <input type="text" name="company[links[linkedin]]" placeholder="Linkedin">
    <input type="submit" value="Ajouter entreprise">
</form>