<%- include('../partials/header')%>
<div class="container">
    <div class="col">
        <h4 class="text-center mb-4"><span class="bg-secondary p-2 rounded text-light">Ajouter une nouvelle candidature</span></h4>
        <div class="row justify-content-center">
            <form class="col" action="/applications" method="post">
                <div class="form-group">
                    <label for="inputCompany">Entreprise</label>
                    <div class="input-group">
                        <select class="custom-select" name="company" id="inputCompany">
                            <option selected>Choisir...</option>
                            <% companies.forEach(company => {%>
                                <option value="<%=company._id%>"><%=company.name%></option>
                            <%});%>
                        </select>
                        <div class="input-group-append">
                            <a href="/companies/new" class="btn btn-success" type="button"><i class="fas fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputText">Actions effectuées</label>
                    <textarea class="form-control" name="application[text]" id="inputText" rows="10"></textarea>
                </div>
                <div class="input-form">
                    <button class="form-control btn btn-md btn-dark btn-block" type="submit">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../partials/footer')%>