<%- include('../partials/header')%>
<div class="container">
    <div class="col">
        <h4 class="text-center mb-4"><span class="bg-secondary p-2 rounded text-light">Ajouter une nouvelle candidature</span></h4>
        <div class="row justify-content-center">
            <form class="col needs-validation" action="/applications" method="post" novalidate>
                <div class="form-group">
                    <label for="inputCompany">Entreprise</label>
                    <div class="input-group flex-wrap">
                        <select class="custom-select" name="company" id="inputCompany" required>
                            <option selected disabled value="">Choisir...</option>
                            <% companies.forEach(company => {%>
                                <option value="<%=company._id%>"><%=company.name%></option>
                            <%});%>
                        </select>
                        <div class="input-group-append">
                            <a href="/companies/new" class="btn btn-success" type="button"><i class="fas fa-plus"></i></a>
                        </div>
                        <div class="invalid-feedback">
                            Veuillez choisir l'entreprise à qui vous envoyer votre candidature. Vous pouvez également en créer une nouvelle en appuyant sur le bouton "+".
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputText">Actions effectuées</label>
                    <textarea class="form-control" name="application[text]" id="inputText" rows="10" spellcheck required></textarea>
                    <div class="invalid-feedback">
                        Veuillez décrire les différentes actions réalisées.
                    </div>
                </div>
                <div class="input-form">
                    <button class="btn btn-md btn-dark btn-block" type="submit">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../partials/footer')%>