<form action="/register" method="post">
    <input type="text" name="firstName" placeholder="Prénom">
    <input type="text" name="lastName" placeholder="Nom">
    <input type="text" name="username" placeholder="Nom d'utilisateur">
    <input type="password" name="password" placeholder="Mot de passe">
    <input type="submit" value="S'inscrire!">
</form>