<%- include("../partials/header") %>

<div class="container">
    <div class="col">
        <div class="row justify-content-center">
            <form class="col-lg-5 col-md-6 col-sm-8 col-10 needs-validation" action="/companies/<%=company._id%>/contacts" method="post" novalidate>
                <h4 class="text-center p-4"><i class="fas fa-address-book fa-3x"></i></h4>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputFirstName">Prénom</label>
                        <input class="form-control" type="text" name="contact[firstName]" id="inputFirstName" required>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="inputLastName">Nom</label>
                        <input class="form-control" type="text" name="contact[lastName]" id="inputLastName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputJob">Métier</label>
                    <input class="form-control" type="text" name="contact[job]" id="inputJob" >
                </div>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-phone-square-alt"></i></div>
                    </div>
                    <input type="text" class="form-control input-phone-number" name="contact[phoneNumber]" placeholder="Numéro de téléphone">
                </div>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-envelope-square"></i></div>
                    </div>
                    <input type="email" class="form-control" name="contact[email]" placeholder="Email">
                </div>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fab fa-linkedin"></i></div>
                    </div>
                    <input type="url" class="form-control input-linkedin" name="contact[linkedin]" placeholder="Linkedin">
                </div>
                <div class="form-group pt-2">
                    <button class="btn btn-md btn-dark btn-block" type="submit">Ajouter ce contact</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>
